/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основной стиль для страницы с бесконечным градиентом */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #c8e6c9, #ffeb3b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: #333;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
    padding: 30px;
    position: relative;
    margin-top: 80px; /* Добавляем отступ для основного контента */
}

/* Анимация для градиента */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Центрирование текста */
header {
    width: 100%;
    position: fixed;  /* Закрепляем шапку вверху */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    background: linear-gradient(65deg, #e43b9e, #6a2c94, #4b0082, #003366);
    background-size: 400% 400%;
    animation: headerGradientAnimation 15s ease infinite;
    padding: 12px 0;
}

@keyframes headerGradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 70%; }
    100% { background-position: 0% 50%; }
}

header h1 {
    font-size: 2.5em;
    color: #00aaff;
    margin-bottom: 12px;
}

header p {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 12px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.9s;
}

.header-link:hover {
    color: #e0ff3b;
}

/* Кликабельная ссылка для Mariana N */
.mariana-link {
    color: #00aaff; /* Голубой цвет */
    font-size: 25px; /* Размер шрифта 20 пикселей */
    font-weight: bold; /* Жирный шрифт */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 1.8s, transform 0.3s;
}

.mariana-link:hover {
    color: #ff9e26; /* Цвет изменится на оранжевый при наведении */
    transform: scale(2.1); /* Легкое увеличение при наведении */
}

/* Добавляем отступ для основного контента (main), чтобы не накладывался на шапку */
main {
    margin-top: 20px; /* Увеличиваем отступ, чтобы контент не перекрывался шапкой */
}

/* Стиль для ссылки "based in Zürich, Switzerland" */
.contacts-link {
    color: #e3d8d8; /* Белый цвет */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 13px; /* Уменьшаем размер шрифта */
    transition: color 0.3s ease; /* Плавное изменение цвета */
}
/* Стили для эффекта при наведении */
.contacts-link:hover {
    color: #ff26a5; /* Оранжевый цвет при наведении */
}
/* Секция проектов */
.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 15px; /* Увеличен отступ для предотвращения наложения */
    color: #00aaff;
}

/* Контейнер для проектов */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Сетка, которая адаптируется */
    gap: 20px;
}

/* Элементы проектов */
.project-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

/* Картинки проектов */
.project-image {
    width: 100%;
    height: 200px; /* Фиксированная высота для картинок */
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Описание проекта */
.project-description {
    padding: 20px;
    position: relative; /* Для позиционирования кнопки */
}

/* Заголовок проекта */
.project-description h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Краткое описание проекта */
.project-summary {
    display: -webkit-box;
  -webkit-line-clamp: 5;     
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Кнопка */
.btn {
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 10px; /* Отступ сверху, чтобы кнопка не налазила на текст */
}

/* Плавное изменение цвета текста при наведении и мигание */
.btn:hover {
    background-color: #ff9e26;
    color: #ffeb3b; /* Текст станет желтым */
    transform: scale(1.2); /* Увеличение кнопки на 20% */
    animation: blinkText 1s ease-in-out 5; /* Анимация мигания текста */
}

/* Анимация мигания текста */
@keyframes blinkText {
    0% {
        color: #ffeb3b; /* Желтый */
    }
    20% {
        color: #333333; /* Черный */
    }
    40% {
        color: #ffeb3b; /* Желтый */
    }
    60% {
        color: #333333; /* Черный */
    }
    80% {
        color: #ffeb3b; /* Желтый */
    }
    100% {
        color: #333333; /* Черный */
    }
}

/* Footer */
footer {
    width: 100%;
    padding: 30px 20px;  /* Добавляем больше отступов */
    text-align: center;
    background-color: #e43b9e; /* Новый цвет фона */
    color: white;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
}

/* Мигающий текст "Write an E-mail" *//* Мигающий текст "Write an E-mail" */
footer .email-section {
    color: #4CAF50; /* Начальный зеленый цвет */
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
    transition: color 0.1s ease;
    animation: emailBlink 1s infinite; /* Мигает 2 секунды и не мигает 10 секунд */
}

/* Мигающая анимация с паузой */
@keyframes emailBlink {
    0% {
        color: #f50028; /* Red */
    }
    16.6% {
        color: #1d2dc0; /* Blue */
    }
    33.3% {
        color: #FF00FF; /* Малиновый */
    }
    50% {
        color: #FF00FF; /* Малиновый */
    }
    66.6% {
        color: #ffeb3b; /* Желтый */
    }
    83.3% {
        color: #e4ff00; /* Cалатовый */
    }
    100% {
        color: #ffeb3b; /* Ylw */
    }
}


/* Контейнер для иконок соцсетей */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    background-color: #00aaff;
    transform: scale(1.1);
}

.social-icons img {
    width: 25px;
    height: 25px;
}

/* Мобильная версия */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8em; /* Уменьшаем размер шрифта на мобильных */
    }

    header p {
        font-size: 1em; /* Уменьшаем текст в шапке */
    }

    .header-link {
        font-size: 0.9em; /* Уменьшаем размер ссылки */
    }

    .projects {
        grid-template-columns: 1fr; /* Строка с одним элементом на экране */
    }

    .project-item {
        width: 100%; /* Максимальная ширина */
    }

    .project-image {
        height: 150px; /* Меньшая высота картинок */
    }

    .project-description h3 {
        font-size: 1.2em; /* Уменьшаем размер заголовка проекта */
    }

    .project-summary {
        font-size: 1em; /* Уменьшаем размер текста описания */
    }

    .btn {
        font-size: 0.9em; /* Уменьшаем размер кнопки */
        margin-top: 15px; /* Добавляем чуть больше отступа для мобильной версии */
    }
}
